*.swp
*~
*.save
*.DS_Store
*.vnb
*.wasm
*.so
*.o
*.a
*.s
*.S
*.vil
*.snap.new

# Python
__pycache__
*.pyo
*.pyc
*.mypy_cache
.venv

# Rust
/target
*.rs.bk

/*.vn
/runtime/test
/compile
/run
/scratch.md
